<div class="container">
  <div class="row">
    <div class="col my-2">
      <h1>Our Taam</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit itaque facere, temporibus quod omnis unde velit! Beatae autem similique amet consectetur natus, animi sapiente sint veritatis, totam obcaecati voluptate reiciendis.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow-lg border-0">
        <img src="{{ img1 }}" alt="" class="card-image-top">
        <div class="card-body">
          <h2 class="card-title">{{header1}}</h2>
          <h3 class="card-title">{{ post1}}</h3>
          <p class="card-text">{{ text1}} </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg border-0">
        <img src="{{ img2 }}" alt="" class="card-image-top">
        <div class="card-body">
          <h2 class="card-title">{{header2}}</h2>
          <h3 class="card-title">{{ post2}}</h3>
          <p class="card-text">{{ text2}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
