<div class="container">
  <h1 class="text-center">Ng Switch Directives</h1>
  <div [ngSwitch]="values">
    <div *ngSwitchCase="1">
      <h3>Number 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid!</p>
    </div>
    <div *ngSwitchCase="2">
      <h3>Number 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid!</p>
    </div>
    <div *ngSwitchCase="3">
      <h3>Number 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid!</p>
    </div>
    <div *ngSwitchCase="4">
      <h3>Number </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid!</p>
    </div>
    <div *ngSwitchDefault>
      <h3>Default</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid!</p>
    </div>
  </div>
</div>
